.date-scroll-container {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to bottom, #6aa6f4, rgb(150, 68, 204));

}


.date-scroll-container>div {
    display: inline-block;
    margin-right: 10px;
    /* padding: 0 20 px; */
    animation: scrollLeft 20s linear infinite;
    white-space: nowrap
}

@keyframes scrollLeft {
    0% {
        tranform: translateX(100%)
    }

    100% {
        transform: translateX(-100%);
    }
}